@import '../../../Variables.scss';
@import '../../../CustomClasses';

.postsWrapper {
  width: 51%;

  label {
    display: block;
    margin-bottom: $main-margin;
  }

  .txtAreaWrapp {
    display: inline-block;
    //margin-bottom: $main-margin;
    width: 100%;

    .siteTextarea {
      //width: 99%;
      //padding: 0;
    }

    .btnSendWrapp {
      text-align: end;
      margin-bottom: $main-margin;
    }
  }
}