@import '../../../Variables';
@import '../../../CustomClasses';

.validateControlWrapper {
  display: grid;

  span {
    color: red;
    margin-bottom: 5px;
  }
}

.validateControlWrapper.error>textarea,
.validateControlWrapper.error>input
{
  border: 2px solid red;
}