@import "../../../../src/Variables";
@import "../../../../src/CustomClasses";

.userItem {
  display: flex;
  color: $message-border-color;

  .avatarWrapp {
    //display: inline-block;
    margin-right: $main-margin;
    margin-bottom: $main-margin;

    .photoWrapp {

      text-align: center;

      img {
        width: $avatar-post-size;
        margin-bottom: $main-margin;
        border-radius: 50%;
      }
    }
    .btnWrap {
      button {
        &:disabled {
          background: $disable-button-bg;
          color: $disable-button-color;
        }
      }
    }
  }

  .userInfoWrapp {
    display: grid;
    padding: $main-padding/2;
    border: 1px solid $message-border-color;
    border-radius: 5px;
    min-width: 40%;
    margin-bottom: $main-margin;

    .userName,.userCountry {
      display: inline-block;
      width: 50%;
      margin-bottom: $main-margin;
    }

    .userCountry, .userCity {
      text-transform: none;
      text-align: end;
    }

    .userCity {
      margin-bottom: 0;
    }

  }
}