@import '../../Variables';
@import '../../CustomClasses';

.nav {
  grid-area: n;
  padding: 10px;
  background-color: $main-color;

  .item {
    margin: 5px 0;
    height: 25px;
  }

  .btnSettings {
    margin-top: $main-margin * 2;
  }

}