@import '../Variables';

.header{
    grid-area: h;
    background-color: $main-color;
    border-left: 10px solid $second-color;
    border-right: 10px solid $second-color;
    border-top: 10px solid $second-color;
    border-bottom: 10px solid $second-color;
    
    .logo {
        height: 40px;
    }
    
}