@import '../Variables';

.nav {
    grid-area: n;    
    border-left: 10px solid $second-color;
    border-right: 10px solid $second-color;
    border-bottom: 10px solid $second-color;;
    padding: 10px;
    background-color: $main-color;

    .item {        
        margin: 5px 0;
        a {
            color: $second-color;
            text-decoration: none;
            // font-size: 18px;
            // font-weight: bold;

            &:hover {
                color: $active-color;
            }
        }
    }

}