@import '../../../Variables';

.coverWrapper {

  .mainImage {
    display: grid; //Bottom line was deleted... "???"
    margin-bottom: $main-margin;

    img {
      width: 100%;
    }
  }

  .avatarWrapper {
    display: flex;

    .avatar {
      margin-right: $main-margin;

      img {
        width: 120px;
      }

      .uploadPhotoWrapper {
        text-align: center;
        max-width: 115px;
        overflow: hidden;
        padding-left: 2px;
      }
    }

    .profileStatus {
      margin-bottom: 10px;
      font-weight: bold;
      font-style: italic;
      color: #888;
    }

    .description {
      font-size: 14px;

      .name {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

