@import '../../../Variables';

.coverWrapper {

  .mainImage {
    display: grid; //Bottom line was deleted... "???"
    margin-bottom: $main-margin;

    img {
      width: 100%;
    }
  }

  .avatarWrapper {
    display: flex;

    .avatar {
      margin-right: $main-margin;

      img {
        width: 100px;
      }
    }

    .profileStatus {
      margin-bottom: 10px;
      font-weight: bold;
      font-style: italic;
      color: #888;
    }

    .description {
      font-size: 14px;

      .name {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

