$main-color: #4dc060;
$second-color: #fff;
$active-color: gold;
$second-active-color: #15df37;

$message-border-color: lightslategray;

$main-margin: 1em;
$main-padding: 20px; 
$main-transition: all 0.5s;

$avatar-post-size: 50px;
