@import '../../Variables';
@import '../../CustomClasses';

.caption {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $main-margin;
}

.dialogsWrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;

  .talkers {
    border-right: 1px solid $main-color;
  }

  .messages {
    padding-left: $main-padding;

    .sendControls {
      margin-top: $main-margin;

      .siteTextarea {
        min-width: 200px;
        width: 50%;
      }

      .buttonWrapp {
        min-width: 210px;
        width: 51%;
        text-align: end;
      }
    }

  }
}